absl-py==1.4.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiosignal==1.3.1
anyio==3.6.1
appier==1.21.7
asgiref==3.7.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
AutoTS==0.4.1
backtest==0.7.6
Backtesting==0.3.3
backtrader==1.9.76.123
bcrypt==4.0.1
bidict==0.22.1
binance==0.3
binance-api==0.1.2
blinker==1.6.2
bokeh==2.4.3
Brotli==1.0.9
bta-lib==1.0.0
cachetools==5.3.1
ccxt==4.0.33
certifi==2021.5.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
clx-sdk-xms==1.0.0
colorama==0.4.4
contourpy==1.0.5
cryptography==41.0.2
cycler==0.11.0
Cython==0.29.23
dash==2.1.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dateparser==1.0.0
dbconfig==0.3.2
Django==4.2.3
dnspython==2.4.0
emit==0.4.0
ez-setup==0.9
fastapi==0.85.0
Flask==2.0.3
Flask-Compress==1.10.1
Flask-SocketIO==5.3.4
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.33.3
frozenlist==1.4.0
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.56.0
h11==0.13.0
h5py==3.9.0
httpcore==0.17.3
idna==2.8
iso8601==0.1.14
itsdangerous==2.1.0
jax==0.4.13
Jinja2==3.0.3
joblib==1.1.0
keras==2.12.0
kiwisolver==1.4.2
libclang==16.0.0
lxml==4.9.0
Markdown==3.4.3
MarkupSafe==2.1.0
matplotlib==3.5.2
ml-dtypes==0.2.0
multidict==6.0.4
multitasking==0.0.10
notify-run==0.0.13
numpy==1.24.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.3
patsy==0.5.2
Pillow==9.1.1
plotly==5.6.0
protobuf==4.23.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycares==4.3.0
pycparser==2.21
pydantic==1.10.2
pyine==1.1.2
PyJWT==1.7.1
pymongo==4.4.1
PyMySQL==1.0.3
pyparsing==3.0.9
PyQRCode==1.2.1
python-binance==1.0.12
python-dateutil==2.8.2
python-dotenv==0.21.0
python-engineio==4.4.1
python-kucoin==2.1.2
python-multipart==0.0.5
python-socketio==5.8.0
pytz==2021.3
PyYAML==6.0
regex==2022.3.2
requests==2.28.0
requests-oauthlib==1.3.1
retrying==1.3.3
rsa==4.9
scikit-learn==1.1.1
scipy==1.8.1
selenium==3.141.0
sinchsms==1.0.4
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.32
sqlparse==0.4.4
starlette==0.20.4
statsmodels==0.13.2
tenacity==8.0.1
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.1.0
webdriver-manager==3.8.3
websockets==9.1
Werkzeug==2.0.3
wrapt==1.14.1
WTForms==3.0.1
xyzservices==2023.5.0
yarl==1.9.2
yfinance==0.1.72